.gradient-text {
	font-weight: 400;
	background: linear-gradient(90deg, #ff7f50, #1e90ff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.banner-text {
	position: fixed;
	width: 100%;
	background-color: #000;
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	padding: 9px 0;
	z-index: 1000;
}

.banner-text a {
	text-decoration: none;
	color: #fff;
}

.banner-text a:hover {
	text-decoration: underline;
}

.main-body {
	margin-top: 265px;
	width: 90%;
}

.top-text-first {
	color: #2138a8;
	background-color: #edf2ff;
	padding: 5px 10px;
	margin-right: 10px;
	font-size: 16px;
	font-weight: 400;
	border-radius: 20px;
}

.ib-content-box {
	display: flex;
	flex-wrap: wrap;
}

.cb-left {
	width: 40%;
}

.cbl-large-text {
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 80px;
	font-weight: 700;
	line-height: 70px;
}

.cbl-small-text {
	color: #343a40;
	font-weight: 300;
	font-size: 22px;
	margin-bottom: 30px;
}

.cb-right img {
	width: 715px;
	max-width: 100%;
	height: auto;
}

.pre-features {
	margin-top: 70px;
}

.pf-heading-text {
	color: #000;
	font-size: 65px;
	font-weight: 400;
	text-align: center;
}

.pf-card-box {
	margin-top: 45px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.pf-card-box div {
	width: 26%;
}

.features-box {
	margin-top: 70px;
	text-align: center;
}

.features-box h1 {
	font-size: 50px;
}

.features-box p {
	color: #343a40;
	font-size: 25px;
	font-weight: 300;
}

.feature-card-box {
	margin-top: 40px;
}

.how-it-works {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
}

.hiw-left {
	width: 25%;
	color: white;
	background: linear-gradient(to bottom, #fbbb2a, #fa5456, #70ace3);
	padding: 65px;
	border-radius: 25px;
}

.hiw-left h1 {
	font-size: 52px;
	font-weight: 800;
}

.hiw-left p {
	font-size: 23px;
	font-weight: 300;
	margin-bottom: 40px;
}

.hiw-right {
	padding: 0 75px;
}

.section {
	margin-top: 40px;
}

.assessments-head-text,
.compare-head-text,
.culture-assessments-head-text,
.resources-head-text {
	text-align: center;
}

.section-head-text h1 {
	font-size: 57px;
	font-weight: 700;
	color: #212529;
}

.section-head-text p {
	font-size: 23px;
	font-weight: 300;
}

.section-card-box,
.resources-card-box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 30px;
}

.section-card-box div {
	background-color: #fff;
	width: 25%;
	margin-bottom: 50px;
}

.toolbox,
.pre-footer {
	display: relative;
	width: 100vw;
	margin-left: -5vw;
	background: linear-gradient(to top right, #70ace3, #fa5456, #fbbb2a);
}

.toolbox-head-text {
	padding-top: 50px;
	margin-left: 6vw;
}

.pricing-head-text {
	margin-left: 27px;
}

.pricing-card-box div .first-note {
	color: #696c80;
	font-weight: 500;
	font-size: 17px;
}

.pricing-card-box div .first-note i {
	color: #9c36b5;
}

.pricing-card-box .pc-other a {
	color: #000;
	background-color: #f0f0f0;
	transition: 0.2s;
}

.pricing-card-box .pc-other a:hover {
	background-color: #d0d0d0;
	box-shadow: none;
}

.faq-card-box {
	justify-content: space-between;
}

.faq-card-box .faq-card {
	width: 47%;
	margin-bottom: 30px;
	margin-right: 10px;
}

.faq-card-box p {
	font-size: 20px;
	font-weight: 300;
}

.culture-assessments-table-box {
	color: #696c80;
	margin-top: 100px;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
}

.ca-table thead {
	font-size: 20px;
	text-align: left;
}

.ca-table thead tr th {
	background-color: #d9f1ff;
	padding: 15px;
}

.ca-table thead tr th:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.ca-table thead tr th:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.ca-table tbody tr td {
	padding: 15px;
	font-size: 19px;
}

.ca-table tbody tr td:first-child {
	font-weight: 600;
}

.pre-footer {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	padding: 60px 0 60px 0;
}

.pre-footer-card {
	width: 80%;
	background-color: #fff;
	padding: 30px 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-radius: 20px;
}

.pfc-left h1 {
	font-size: 55px;
	font-weight: 800;
	color: #000;
	margin-bottom: 5px;
}

.pfc-left p {
	color: #696c80;
	font-size: 22px;
}

.footer {
	margin: 50px 0 60px 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-branding {
	text-align: center;
}

.fb-top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 20px;
}

.fb-top img {
	width: 40px;
}

.fb-top span {
	font-size: 20px;
	font-weight: 600;
	margin-left: 5px;
}

.footer-links-box {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.flb-links-list {
	margin-right: 60px;
}

.flb-links-list h4 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 7px;
}

.flb-links {
	list-style: none;
}

.flb-links li {
	margin-bottom: 7px;
}

 .flb-links li a {
	text-decoration: none;
	color: #696c80;
}

.flb-links li a:hover {
	text-decoration: underline;
}



@media (max-width: 1300px) {
	.banner-text {
		font-size: 13px;
	}

	.cb-left {
		width: 100%;
	}

	.cbl-large-text {
		font-size: 60px;
	}

	.pf-card-box div {
		width: 100%;
	}

	.hiw-left {
		width: 100%;
	}

	.hiw-left h1 {
		font-size: 45px;
	}

	.hiw-right {
		margin-top: 2rem;
	}

	.section-head-text h1 {
		font-size: 45px;
	}

	.section-head-text p {
		font-size: 17px;
	}

	.section-card-box div {
		width: 100%;
	}

	.faq-card-box .faq-card {
		width: 100%;
	}

	.ca-table thead tr th {
		padding: 0;
	}

	.ca-table tbody tr td {
		padding: 0;
	}

	.pfc-left h1 {
		font-size: 35px;
	}

	.pfc-left p {
		font-size: 18px;
		margin-bottom: 2rem;
	}

	.footer-links-box {
		margin-top: 40px;
	}
}
