.gradient-text {
	font-weight: 400;
	background: linear-gradient(90deg, #ff7f50, #1e90ff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.banner-text {
	position: fixed;
	width: 100%;
	background-color: #000;
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-weight: 300;
	padding: 9px 0;
}

.banner-text a {
	text-decoration: none;
	color: #fff;
}

.banner-text a:hover {
	text-decoration: underline;
}

.above-footer-body {
	margin-top: 265px;
	width: 90%;
}

.top-text-first {
	color: #2138a8;
	background-color: #edf2ff;
	padding: 5px 10px;
	margin-right: 10px;
	font-size: 16px;
	font-weight: 400;
	border-radius: 20px;
}

.ib-content-box {
	display: flex;
}

.cbl-large-text {
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 80px;
	font-weight: 700;
	line-height: 70px;
}

.cbl-small-text {
	color: #343a40;
	font-weight: 300;
	font-size: 22px;
	margin-bottom: 30px;
}

.cb-right img {
	width: 715px;
}

.pre-features {
	margin-top: 70px;
}

.pf-heading-text {
	color: #000;
	font-size: 65px;
	font-weight: 400;
	text-align: center;
}

.pf-card-box {
	margin-top: 45px;
	display: flex;
	justify-content: space-around;
}

.features-box {
	margin-top: 70px;
	text-align: center;
}

.features-box h1 {
	font-size: 50px;
}

.features-box p {
	color: #343a40;
	font-size: 25px;
	font-weight: 300;
}

.feature-card-box {
	margin-top: 40px;
}

.how-it-works {
	margin-top: 60px;
	display: flex;
}

.hiw-left {
	width: 25%;
	color: white;
	background: linear-gradient(to bottom, #fbbb2a, #fa5456, #70ace3);
	padding: 65px;
	border-radius: 25px;
}

.hiw-left h1 {
	font-size: 52px;
	font-weight: 800;
}

.hiw-left p {
	font-size: 23px;
	font-weight: 300;
	margin-bottom: 40px;
}

.hiw-right {
	padding: 0 75px;
}

.assessments,
.compare,
.toolbox {
	margin-top: 40px;
}

.assessments-head-text,
.compare-head-text {
	text-align: center;
}

.assessments-head-text h1,
.compare-head-text h1,
.toolbox-head-text h1 {
	font-size: 57px;
	font-weight: 700;
}

.assessments-head-text p,
.compare-head-text p,
.toolbox-head-text p {
	font-size: 23px;
	font-weight: 300;
}

.assessments-card-box,
.compare-card-box,
.toolbox-card-box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 30px;
}

.assessments-card-box div,
.compare-card-box div,
.toolbox-card-box div {
	background-color: #fff;
	width: 25%;
	margin-bottom: 50px;
}

.toolbox {
	display: relative;
	width: 100vw;
	margin-left: -5vw;
	background: linear-gradient(to top right, #70ace3, #fa5456, #fbbb2a);
}

.toolbox-head-text {
	padding-top: 50px;
	margin-left: 6vw;
}
